<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>E2W MONITOR</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

 <!-- StackOverflow Test  -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>

$(document).ready(function() {
  $('#submit-btn').on('click', function() {
    $(this).addClass('disabled');
  });
});

  </script>

</head>
<body>


  <!-- Menu -->
  <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper">
     <img id="logo-container" class="brand-logo center" src="../../static/images/logo_branca.png" />
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Remoto</a></li>
        <li><a href="badges.html">Dashboard</a></li>
        <li><a href="collapsible.html">Login</a></li>
      </ul>
    </div>
  </nav>

  <!-- Titulo principal -->
  <h2 class="header center green-text">Monitor de Equipamentos Embarcados</h2>
    <div class="row center">
        <h5 class="header col s12 light">Insira o ID WPLEX e o comando que deseja enviar.</h5>
    </div>

    <!-- Enviar Comando -->
  <div class="container">
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l3">
              <i class="material-icons prefix">directions_bus</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">ID WPLEX</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l3">
              <i class="material-icons prefix">arrow_forward</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Comando XVM</label>
            </div>
          </div>
          <div class="row">
            <div class="checkbox col s12 m6 l3">
                <input type="checkbox" id="test5" />
                <label for="test5">MDT</label>
            </div>
          </div>
        </form>
    </div>
      <button id="submit-btnaaa" class="btn waves-effect waves-light" type="submit" name="action">Enviar
            <i class = "material-icons right">send</i></button>
      <button id="cancel-btnaaa" class="btn waves-effect waves-light red disabled" type="submit" name="action">Cancelar
            <i class = "material-icons right">cancel</i></button>

      <button id='submit-btn' class="btn waves-effect waves-light submit red" type="button" name="action">Test</button>

    <h4 class="header green-text">Respostas:</h4>
    <br><br>
  </div>

    <!-- Footer -->
  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer </h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Footer copyright
      </div>
    </div>
  </footer>

      <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../static/js/materialize.js"></script>
  <script src="../../static/js/init.js"></script>


  </body>
</html>
