{% extends "layout.html" %}

{% block title %}Dashboard E2WMonitor{% endblock %}

{% block body %}
{{ super() }}

 <!-- Titulo principal -->
  <h2 class="header center green-text text-darken-2">Dashboard</h2>
    <div id="using-color">
            <h4 class="header">Unidades</h4>
            <div class="row">
              <div class="col s12 m4 l3">
                <p>Consórcio Fênix</p>
              </div>
              <div class="col s12 m8 l9">

                <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
                  <li class="">
                    <div class="collapsible-header purple white-text"><i class="mdi-device-access-alarms"></i> First Header</div>
                    <div class="collapsible-body purple lighten-5" style="display: none;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </li>
                  <li class="">
                    <div class="collapsible-header red white-text"><i class="mdi-device-battery-charging-20"></i> Second Header</div>
                    <div class="collapsible-body red lighten-5 lighten-5" style="display: none;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </li>
                  <li class="">
                    <div class="collapsible-header teal white-text"><i class="mdi-device-dvr"></i> Third Header</div>
                    <div class="collapsible-body teal lighten-5" style="display: none;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </li>
                  <li class="">
                    <div class="collapsible-header lime darken-4 white-text"><i class="mdi-device-bluetooth-searching"></i> Forth Header</div>
                    <div class="collapsible-body lime lighten-5" style="display: none;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header orange white-text"><i class="mdi-device-now-widgets"></i> Fifth Header</div>
                    <div class="collapsible-body orange lighten-5">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>


{% endblock %}