{% extends "layout.html" %}

{% block title %}Dashboard E2WMonitor{% endblock %}

{% block body %}
{{ super() }}
<!-- Navbar goes here -->

    <!-- Page Layout here -->
<div class="container">
    <h4 class="header center green-text text-darken-2">Opções: </h4>
    <form id="form-send-query" class="" role="form" method="POST" action="{{ url_for('website.dashboard') }}">
        <div class="row col s12" id="cli-id-pre">
            <div class="input-field col s4">
                <select id="select-input-client">
                    <option value="" disabled selected>Selecione</option>
                    <option value="1">ABC</option>
                    <option value="2">C. Fênix</option>
                    <option value="3">Metra</option>
                    <option value="4">P. Marron</option>
                    <option value="5">Publix</option>
                    <option value="6">SBCTrans</option>
                    <option value="7">Translitoral</option>
                </select>
                <label>Cliente</label>
            </div>

            <div class="input-field col s4">
                <select id="select-input-wplexid">
                    <option value="" disabled selected>Selecione</option>
                    <option value="1">1000</option>
                    <option value="2">2000</option>
                    <option value="3">2500</option>
                    <option value="4">3200</option>
                    <option value="5">4100</option>
                    <option value="6">4200</option>
                    <option value="7">4250</option>
                </select>
                <label>ID WPLEX</label>
            </div>
            <div class="input-field col s4">
                <select id="select-input-prefix">
                    <option value="" disabled selected>Selecione</option>
                    <option value="1">RUS00</option>
                    <option value="2">RUS01</option>
                    <option value="3">RUS02</option>
                    <option value="4">RAX11</option>
                    <option value="5">RUV1092</option>
                    <option value="6">RUV1121</option>
                </select>
                <label>Prefixo</label>
            </div>
        </div>
        <div class="row col s12">
            <div class="col s2">
                <label>Data Inicio</label>
                <input type="datetime-local" id="start-datetime">
            </div>
            <div class="col s2">
                <label>Data Fim</label>
                <input type="datetime-local" id="end-datetime">
            </div>
        </div>
        <button id="query-btn" class="btn  waves-effect waves-light" type="submit" value="send">Enviar
            <i class = "material-icons right">send</i>
        </button>
        <button id="cancel-query-btn" class="btn  waves-effect waves-light red disabled" type="submit" value="cancel">Cancelar
            <i class = "material-icons right">cancel</i>
        </button>
      </form>

    <h4 class="header center green-text text-darken-2">Resultado: </h4>
    <p id="test-result"></p>
</div>

{% endblock %}