{% extends "layout.html" %}

{% block title %}XVM Remoto E2WMonitor{% endblock %}

{% block body %}
{{ super() }}


  <!-- Titulo principal -->
  <h2 class="header center green-text text-darken-2">Monitor de Equipamentos Embarcados</h2>
    <div class="row center">
        <h5 class="header col s12 light">Insira o ID WPLEX do Veiculo e o comando que deseja consultar.</h5>
    </div>

    <!-- Enviar Comando -->
  <div class="container">
    <div class="row">
        <!--form class="col s12" method="post" action="{{ url_for('website.send_message_to_device') }}"-->
        <form id="form-send-command" class="col s12" role="form" method="POST" action="{{ url_for('website.send_message_to_device') }}">
          <div class="row">
            <div class="input-field col s12 m6 l3">
              <i class="material-icons prefix">directions_bus</i>
              <select id="select-input-xvm-id">
                {% for device in online_devices %}
                <option value="{{ device }}">{{ device }}</option>
                {% endfor %}
              </select>
              <label>ID WPLEX</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l3">
              <i class="material-icons prefix">arrow_forward</i>
              <input id="cmd-xvm" type="text" class="validate" name="cmd_xvm">
              <label for="cmd-xvm">Comando XVM</label>
            </div>
          </div>
          <div class="row">
            <div class="checkbox col s12 m6 l3">
                <input type="checkbox" class="filled-in" id="filled-in-box" value="False" name="mdt_xvm"/>
                <label for="filled-in-box">MDT</label>
            </div>
          </div>
          <button id="submit-btn" class="btn waves-effect waves-light" type="submit">Enviar
                <i class = "material-icons right">send</i></button>
          <button id="cancel-btn" class="btn waves-effect waves-light red disabled" type="button" >Cancelar
                <i class = "material-icons right">cancel</i></button>
        </form>
    </div>
    <br>
    <!--Bordered Table-->
    <div id="bordered-table">
      <h4 class="header center green-text text-darken-2">Respostas</h4>
      <div class="row">
        <div class="col s12">
          <table class="bordered" id="result-table">
            <thead>
              <tr>
                <!--th data-field="id">Respostas</th-->
              </tr>
            </thead>
            <tbody id="tbody-result-table">
              <tr>
                <!--td>First</td-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}