{% extends "layout.html" %}

{% block title %}XVM Remoto E2WMonitor{% endblock %}

{% block body %}
{{ super() }}


  <!-- Titulo principal -->
  <h2 class="header center green-text text-darken-2">Monitor de Equipamentos Embarcados</h2>
    <div class="row center">
        <h5 class="header col s12 light">Insira o ID WPLEX do Veiculo e o comando que deseja consultar.</h5>
    </div>

    <!-- Enviar Comando -->
  <div class="container">
    <div class="row">
        <form class="col s12" method="post" action="{{ url_for('website.send_message_to_device') }}">
          <div class="row">
            <div class="input-field col s12 m6 l3">
              <i class="material-icons prefix">directions_bus</i>
              <input id="icon_prefix" type="text" class="validate" name="id_xvm">
              <label for="icon_prefix">ID WPLEX</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l3">
              <i class="material-icons prefix">arrow_forward</i>
              <input id="icon_telephone" type="text" class="validate" name="cmd_xvm">
              <label for="icon_telephone">Comando XVM</label>
            </div>
          </div>
          <div class="row">
            <div class="checkbox col s12 m6 l3">
                <input type="checkbox" class="filled-in" id="filled-in-box" name="mdt_xvm"/>
                <label for="filled-in-box">MDT</label>
            </div>
          </div>
          <button id="submit-btn" class="btn waves-effect waves-light" type="submit">Enviar
                <i class = "material-icons right">send</i></button>
          <button id="cancel-btn" class="btn waves-effect waves-light red disabled" type="button" >Cancelar
                <i class = "material-icons right">cancel</i></button>
        </form>
    </div>
    <br>
   <div id="loading-cmd" class="preloader-wrapper small">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

    <h4 class="header center green-text text-darken-2">Resposta:</h4>
      <p><br> {{ ans_xvm }}</p>
    <br><br>
  </div>
{% endblock %}