<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>

  <link href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" rel="shortcut icon" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>

  <!-- Menu -->
  <nav class="light-green darken-4" role="navigation">
    <div class="nav-wrapper">
     <img id="logo-container" class="brand-logo center" src="{{ url_for('static', filename='images/logo_branca.png') }}" />
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="send">Comunicação XVM</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
  </nav>

   {% block body %}
    <!-- AQUI VAI O BLOCO DE CADA PAGINA -->
   {% endblock %}

    <!-- Footer -->
  <footer class="page-footer light-green darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Links </h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      WPLEX Software &copy;
        <p> Logado como {{ user }}</p>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <script language="JavaScript" src="{{ url_for('static', filename='js/e2w.js') }}"></script>
  </body>
</html>