<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/ico" href="../../static/images/favicon.ico"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <!-- Menu -->
  <nav class="light-green darken-4" role="navigation">
    <div class="nav-wrapper">
     <img id="logo-container" class="brand-logo center" src="../../static/images/logo_branca.png" />
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="send">Remoto</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
  </nav>

   {% block body %}
    <!-- AQUI VAI O BLOCO DE CADA PAGINA -->
   {% endblock %}

    <!-- Footer -->
  <footer class="page-footer light-green darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Links </h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      WPLEX Software &copy;
      </div>
    </div>
  </footer>

      <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../static/js/materialize.js"></script>
  <script src="../../static/js/init.js"></script>
  <script language="JavaScript" src="../../static/js/e2w.js"></script>
  </body>
</html>
